<html>

<head>
  <title>You're almost there</title>
  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="stylesheet" href="https://unpkg.com/primer@11.0.0/build/build.css">
</head>

<body>
<div class="wrapper">
  <div class="modal">
    <span class="emoji">😲</span>
    <h1>You're almost there!</h1>
    <p>This site was deployed but we're still missing some configuration.</p>
    <a href="#" class="modal-btn">Great, now take me to my feedback</a>
  </div>
</div>

</body>
</html>
